# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Altro
*.log
